
<div class="container">
<div class="col-lg-6">
<div class="page-header">
<h2>Sign up</h2>
</div>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <%= f.email_field :email, autofocus: true %>
  </p>

  </p>

    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </p>

  <p>

    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </p>

  <p>
    <%= f.submit "Sign up" %>
  </p>
<% end %>
</div>
</div>


