

<div class="container">
  <div class="starter-template">
    <h1>Upcoming events</h1>
    <% if flash[:error]%>
  <div class="alert alert-success" role="alert"><%= flash[:error] %></div>
<% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
    </table>

    <% @events.each do |event|%>

    <div class="container">
     <div class="row">
      <div class="col-md-6"><%=event.title%></div>
       <div class="col-md-1"><%= link_to 'Show',event_path(event),class:"btn btn-default" %> </div>
       <div class="col-md-3">
        <%=event.location%>

      </div>
    </div>
    <hr>

  </div>
   <% end %>
 </div>
</div>