
<div class="container">

<div class="col-lg-6">

  <div class="center-block">
<div class="page-header">
<% if flash[:error]%>
  <div class="alert alert-success" role="alert"><%= flash[:error] %></div>
<% end %>
<h2>Log in</h2>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class ="btn btn-default"><% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%></div>
</div>
</div>
</div>

