<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigate">
 <div class="navbar-inner">
  <div class="container">
    <div id="logo" class="navbar-brand"><%= link_to "Event", root_path %></div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
      <% if user_signed_in? %>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to 'Submit Event', new_event_path %></li>
         <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
         <li><%= link_to "Sign out", destroy_user_session_path, method: :DELETE %></li>
 </ul>

<% else %>

    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    </ul>
<% end %>
</nav>
</div>
</div>
</header>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
